a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif, sans-serif;
  color: #212121;
  margin: auto;
}

.contact-box-list__phone, .social-network-list__item--footer, .social-network-list__item, .icon-social, .icon-mail,
.icon-phone, .callback-form__icon, .backdrop.is-hidden, .modal, .callback-form input, .callback-form textarea, .contract-conditions {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container.common-nav {
  position: relative;
}

header {
  border-bottom: 1px solid #ffffff;
  margin: auto;
}

.footer-section {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-section .social-network-container {
  margin-left: 70px;
}

.footer-section .mailing-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 570px;
  height: 86px;
  margin-left: 93px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar {
  margin-left: 93px;
}

.common-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__list .navbar__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar__list .navbar__link--current {
  color: #2996f3;
}

.navbar__list .navbar__link--current:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  display: block;
  border: solid #2996f3;
  border-radius: 2px;
  background-color: #2996f3;
}

.navbar__list .navbar__item {
  position: relative;
}

.navbar__list .navbar__item + .navbar__item {
  margin-left: 50px;
}

.navbar__list .navbar__link:hover,
.navbar__list .navbar__link:focus {
  color: #2996f3;
}

.navbar__list .navbar__link.navbar__link--current {
  color: #2996f3;
}

.contact-box-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-box-list li + li {
  margin-left: 50px;
}

.contact-box-list .contact-box-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-box-list .contact-box-list__itemhover svg {
  fill: #2996f3;
}

.contact-box-list__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-box-list__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
}

.contact-box-list__mail:hover,
.contact-box-list__mail:focus {
  color: #2996f3;
}

.contact-box-list__phone:hover,
.contact-box-list__phone:focus {
  color: #2996f3;
}

.mail-footer,
.phone-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #2996f3;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

.logo .studioword {
  color: #000;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-logo .studiowordfooter {
  color: #ffffff;
  font-style: "Raleway", sans-serif;
}

.social-network-container__title {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

.social-network-list__item--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.social-network-list__item--footer:hover,
.social-network-list__item--footer:focus {
  background-color: #2996f3;
}

.social-network-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  margin-bottom: 0;
}

.social-network-list__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-left: 10px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.social-network-list__item:first-child {
  margin-left: 0;
}

.social-network-list__item .social-network-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.social-network-list__item:hover {
  background-color: #2996f3;
}

.social-network-list__item:hover svg {
  fill: #ffffff;
}

.buttons {
  background-color: #F5F4FA;
  border: none;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons:hover, .buttons:focus {
  background-color: #188ce8;
  color: #ffffff;
}

.button--first {
  background-color: #2996f3;
  color: #ffffff;
}

.button--hero {
  display: block;
  font-weight: 700;
  background-color: #2996f3;
  color: #ffffff;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.button--hero:hover, .button--hero:focus {
  background-color: #098af3;
}

.modal__close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.modal__close-button svg {
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover > svg {
  fill: #2996f3;
}

.button--submit {
  display: block;
  min-width: 200px;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2996f3;
  color: #ffffff;
}

.button--submit:hover {
  background-color: #188ce8;
}

.icon-social {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition-property: fill;
  transition-property: fill;
}

.icon-social-footer {
  width: 20px;
  height: 20px;
  fill: white;
}

.icon-mail,
.icon-phone {
  display: block;
  margin-right: 10px;
  fill: #757575;
  -webkit-transition-property: fill;
  transition-property: fill;
}

.confirmation__icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 4px;
}

.callback-form__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  -webkit-transition-property: fill;
  transition-property: fill;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal .modal__header {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
}

.callback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
}

.callback-form input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  padding-left: 32px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
}

.callback-form input:hover, .callback-form input:focus {
  border-color: #2996f3;
  cursor: pointer;
}

.callback-form textarea {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  -webkit-transition-property: border-color;
  transition-property: border-color;
}

.callback-form textarea:hover, .callback-form textarea:focus {
  border-color: #2996f3;
  cursor: pointer;
}

.callback-form textarea:placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.callback-form label[id="user-agree"] {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(117, 117, 117, 0.1);
}

.callback-form__field {
  position: relative;
  margin-bottom: 28px;
}

.callback-form__field:focus-within > svg {
  fill: #2996f3;
}

.callback-form__field:hover > svg {
  fill: #2996f3;
}

.callback-form__field--comment {
  margin-bottom: 20px;
}

.contract-conditions {
  -webkit-transition-property: color;
  transition-property: color;
}

.callback-form__label {
  position: absolute;
  top: -18px;
  left: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #757575;
}

.callback-form input[id="user-agree"] {
  width: 16px;
  height: 15px;
  visibility: hidden;
}

input[id="user-agree"]::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #212121;
  background-color: #000000;
}

.confirmation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #757575;
}

.user-agree:checked + .confirmation__icon {
  content: '';
  background-image: url(/images/iconcheck.svg);
  background-color: #2996f3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
  border-color: #2996f3;
}

.form-field-agree a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #2996f3;
  text-decoration: underline;
  margin-left: 4px;
}
/*# sourceMappingURL=main.css.map */