@import '../sass/utils/_variables';
@import '../sass/utils/_resets';
@import '../sass/utils/placeholders';
@import '../sass/layouts/containers';
@import '../sass/layouts/header';
@import '../sass/layouts/footer';
@import '../sass/layouts/hero';
@import '../sass/layouts/advantages';
@import '../sass/layouts/services';
@import '../sass/layouts/team';
@import '../sass/layouts/customers';
@import '../sass/components/navbar';
@import '../sass/components/contact-box';
@import '../sass/components/logo';
@import '../sass/components/_social-networks';
@import '../sass/components/buttons';
@import '../sass/components/icons';
@import '../sass/components/modalwindow';