.contact-box-list {
    display: flex;
    margin-left: auto;
    align-items: center;
    li+li {
        margin-left: 50px;
    }
    .contact-box-list__item {
        display: flex;
        &hover svg {
            fill: $theme-color;
        }
    }
}

.contact-box-list__mail {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-secondary;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-box-list__phone {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-secondary;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    @extend %animation;
    transition-property: color;
}

.contact-box-list__mail:hover,
.contact-box-list__mail:focus {
    color: $theme-color;
}

.contact-box-list__phone:hover,
.contact-box-list__phone:focus {
    color: $theme-color;
}

.mail-footer,
.phone-footer {
    display: flex;
    justify-content: left;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}