.customers-section {
    padding-bottom: 94px;
    padding-top: 94px;
    .customers-section__title {
        margin-bottom: 50px;
        color: $text-primary;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
    }
}

.customers-list {
    @extend %flex-center;
    .customers-list__item {
        @extend %flex-center;
        align-items: center;
        width: 170px;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        @include transition (border-color)
    }
}

.customers-list__item:hover {
    border-color: $theme-color;
    cursor: pointer;
}

.customers-list__item:hover svg {
    fill: $theme-color;
}

.customers-list .customers-list__item:not(:last-child) {
    margin-right: 30px;
}

.customers-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
}