.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-color: rgba(196, 196, 196, 1);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/images_main/heroimage.jpg);
    .hero__title {
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        max-width: 696px;
        color: $text-secondary-lighter;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
}